*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
#hero-bg{
    width: 100vw;
    height: 100vh;
    background-position: center !important;
    background-size: cover !important;
}
.card.hide {
    display: none !important;
}